.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.content {
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 8px;
    max-width: 350px;
    width: 90%;
}

.content h1 {
    margin-top: 0;
    font-size: 24px;
}

.content form div {
    margin-bottom: 15px;
}

.content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.content input {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.content button {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}
